# FNG training bot test (regular fng2 mode, bot on the server)
sv_name "FNG Training"
sv_rcon_password rconpassword
sv_gametype fng2
sv_map "AliveFNG"
sv_max_clients 16
sv_register 0
sv_tournament_mode 0
sv_bot_count 1
sv_bot_name "TrainBot"
sv_high_bandwidth 1
